@font-face {
  font-family: Doom;
  src: url('/AmazDooMLeft.ttf');
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: #ccc;
  font-family: Doom;
  display: flex;
  align-items: center;
  justify-content: center;
  &:active {
    background-color: #aaa;
  }
}

.demon {
  width: 40px;
  height: 40px;
}

.adjacentDemons {
  font-size: 24px;
  height: 24px;
  &.count1 { color: blue; }
  &.count2 { color: green; }
  &.count3 { color: red; }
  &.count4 { color: purple; }
  &.count5 { color: darkred; }
}
