.main {
  display: flex;
  flex-direction: column;
  background: url('/assets/images/background.jpg') 0 0 / 1200px 670px no-repeat;
  height: 670px;
  width: 1200px
}

.bigButton {
  border-radius: 3px;
  background-color: red;
  height: 30px;
  width: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
