<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="<%= staticsBaseUrl %>app.css">
    <style>
      body {
        margin: 0;
        background-color: black;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>
    <script>
      window.__STATICS_BASE_URL__ = '<%= staticsBaseUrl %>';
    </script>
    <script src="<%= staticsBaseUrl %>app.bundle.js"></script>
  </body>
</html>
